<h1>Welcome to CSE Motors!</h1>
<div class="second-section">
    <img src="/images/vehicles/delorean-tn.jpg" alt="this is a picture of a delorean">
    <div class="tagbox">
        <h2>DMC Deloren</h2>
        <ul>
            <li>3 Cup holders</li>
            <li>Super man doors</li>
            <li>Fuzzy dice</li>
        </ul>
        <button>Own Today</button>
    </div>
</div>
<section id="mainbody">
<div class="reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
        <li>"so fast it is almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day" (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
    </ul>
</div>
<div class="boxes">
    <div class="container1">
        <img src="/images/upgrades/flux-cap.png" alt="flux cap picture">
        <div class="anchor1">
            <a href="/">Flux Capacitor</a>
        </div>
    </div>
    <div class="container2">
        <img src="/images/upgrades/flame.jpg" alt="flame pic">
        <div class="anchor2">
            <a href="/">Flame Decals</a>
        </div>
    </div>
    <div class="container3">
        <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper sticker image">
        <div class="anchor3">
            <a href="/">Bumper Stickers</a>
        </div>
    </div>
    <div class="container4">
        <img src="/images/upgrades/hub-cap.jpg" alt="hub cap picture">
        <div class="anchor4">
            <a href="/">Hub Caps</a>
        </div>
    </div>
</div>
</section>
