/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
html{
  height: 100%;
}
#wrapper{
  height: 100%;
}
#top-header{
  display: grid;
  grid-template-columns: 1fr 1fr; 
}
h1{
  font-size: larger;
}
.siteName{
  display: flex;
  align-items: center;
}
.siteName a{
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  color: black;
  width: 100%;
}
#tools{
  text-align: end;
  grid-column: 2;
  padding-top: 10px;
}
#tools a{
  text-decoration: none;
  color: black;
}
nav{
  display: flex;
  width: 100%;
  background-color: black;
  height: 35px;
}
nav ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  width: 100%;
}
nav li{
  width: fit-content;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
nav li:hover{
  background-color: white;
  color: white;
}
nav a{
  color: white;
  text-decoration: none;
}
.big{
  display: none;
}
.second-section{
width: 100%;
display: flex;
justify-content: center;
}
.tagbox{
  position: absolute;
  top: 119px;
  left: 18px;
  color: blue;
  font-size: smaller;
}
.tagbox h2{
  margin: 0px;
}
.tagbox ul{
  padding: 0px;
  margin: 0px;
}
.tagbox li{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  list-style-type: none;
}
.tagbox button{
  background-color: black;
  color: white;
  border: none;
  padding: 5px 7px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
              0 1px 3px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 10px;
}
.reviews{
  padding-top: 10px;
}
.reviews h2{
  padding: 0px;
  margin: 0px;
}
.reviews ul{
  margin: 0px;
  margin-bottom: 5px;
}
.boxes{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr 1fr ;
  width: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 15px;
}
.container1{
  width: 100%;
  background-color: darkblue;
  display: grid;
  justify-items: center;
}
.anchor1{
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  height: fit-content;
  align-self: end;
}
.container2{
  width: 100%;
  background-color: darkblue;
  display: grid;
  justify-items: center;
}
.anchor2{
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  height: fit-content;
  align-self: end;
}
.container2 img{
  height: 90%;
}
.container3{
  width: 100%;
  background-color: darkblue;
  display: grid;
  justify-items: center;
}
.anchor3{
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  height: fit-content;
  align-self: end;
}
.container4{
  width: 100%;
  background-color: darkblue;
  display: grid;
  justify-items: center;
}
.anchor4{
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  height: fit-content;
  align-self: end;
}
footer{
  position:relative;
}
#checkers{
  display: none;
}

#inv-display{
  display: grid;
  justify-content: center;
}
#inv-display li{
  list-style-type: none;
  border: solid 1px black;
  border-radius: 5%;
  overflow: hidden;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  
}
#inv-display img{
 width: 100%;
}
#inv-display a{
  display: flex;
  justify-content: center;
}
.namePrice{
  display: grid;
  justify-items: center;
  
}
.namePrice span{
  justify-content: center;
}
.namePrice h2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.namePrice hr{
  background-color: black;
  width: 100%;
  height: 7px;
}
#inv-details-display{
  display: grid;
}
#inv-details-display img{
  grid-row: 1;
  width: 72%;
  justify-self: center;
}
#groupings{
  grid-row: 2;
}
#groupings span{
  font-size: larger;
  font-weight: 600;
  background-color: white;
}
#groupings p{
  font-size: larger;
  font-weight: 600;
}
#groupings h2{
  background-color: #f5f5f5;
}
.p1{
  background-color: #f5f5f5;
}
.p3{
  background-color: #f5f5f5;
}
.position-box{
  display: grid;
  grid-template-columns: repeat(12,1fr);
}
.login-set-up{
  border: solid 5px darkblue;
  display: flex;
  flex-direction: column;
  grid-column: 1/13;
  border-radius:9% ;
  justify-content: space-between;
  padding: 25px;
  background-color: #eae9e9;

}
.login-set-up div{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.login-set-up button{
  background-color: darkblue;
  color: white;
  width: 35%;
  margin-top: 20px;
}
#secret-password{
  background-color: darkblue;
  color: white;
  border: 3px solid black;
  border-radius: 8%;
  width: 55%;
  margin-top: 10px;
}
.info1{
  display: flex;
  flex-direction: column;
}
.info1 div{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 10px;
}
.info1 button{
  width: 500px;
}
.updateButton{
  width: 30%;
  margin-top: 10px;
}
#account_firstname{
  font-weight: 700;
  font-size: larger;
}
#the-lastname{
  font-weight: 700;
  font-size: larger;
}
#the-email1{
  font-weight: 700;
  font-size: larger;
}
.passwordform div{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 10px;
}
#reg-password{
  margin-bottom: 10px;
}
.changebutton{
  margin-top: 10px;
}

@media (min-width:900px){
  body{
    background-image:url(/images/site/small_check.jpg);
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
    background-position: center; 
    height: 100vh; 
    margin: 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(13,1fr);
    height: 100%;
  }
  #wrapper{
    background-color: white;
    border: solid darkturquoise;
    margin-top: 3px;
    grid-column: 2/13;
    height: fit-content;
  }
  #checkers{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -8;
    
  }
  #tools a{
    padding-right: 15px;
  }
  .big{
    display: block;
  }
  .little{
    display: none;
  }
  #mainbody{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  main h1{
    font-size: xx-large;
  }
  .tagbox{
    top: 231px;
    left: 9%;
    font-size: large;
  }
  .tagbox h2{
    font-size: xx-large;
  }
  .tagbox ul{
    font-size: larger;
  }
  .tagbox button{
    padding: 10px 25px ;
  }
  .reviews{
    grid-column: 2;
    display: grid;
    justify-content: center;
  }
  .reviews h2{
    font-size: xx-large;
  }
  .reviews ul{
    font-size:x-large ;
  }
  .boxes{
    grid-column: 1;
    grid-row: 1;
  }
  footer{
    font-size: larger;
    position: relative;

  }

  #inv-display{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    grid-template-rows: auto;
    grid-row-gap: 30px;
    padding: 0px;
  }
  #inv-display li{
    list-style-type: none;
    border: solid 1px black;
    border-radius: 5%;
    overflow: hidden;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  #inv-display img{
   width: 100%;
  }
  #inv-display a{
    display: flex;
    justify-content: center;
  }
  .namePrice{
    display: grid;
    justify-items: center;
    
  }
  .namePrice span{
    justify-content: center;
  }
  .namePrice h2{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .namePrice hr{
    background-color: black;
    width: 100%;
    height: 7px;
  }
  #inv-details-display{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  #inv-details-display img{
    grid-column: 1;
    width: 100%;
  }
  #groupings{
    grid-column: 2;
    grid-row: 1;
  }
  #groupings span{
    font-size: larger;
    font-weight: 600;
    background-color: white;
  }
  #groupings p{
    font-size: larger;
    font-weight: 600;
  }
  #groupings h2{
    background-color: #f5f5f5;
  }
  .p1{
    background-color: #f5f5f5;
  }
  .p3{
    background-color: #f5f5f5;
  }
  .position-box{
    display: grid;
    grid-template-columns: repeat(12,1fr);
  }
  .login-set-up{
    border: solid 5px darkblue;
    display: flex;
    flex-direction: column;
    grid-column: 5/9;
    border-radius:9% ;
    justify-content: space-between;
    padding: 25px;
    background-color: #eae9e9;

  }
  .login-set-up div{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  .login-set-up button{
    background-color: darkblue;
    color: white;
    width: 35%;
    margin-top: 20px;
  }
  #secret-password{
    background-color: darkblue;
    color: white;
    border: 3px solid black;
    border-radius: 8%;
    width: 55%;
    margin-top: 10px;
  }
  .infosaid{
    margin-top: 8px;
  }
  .links-management{
    display: flex;
    flex-direction: column;
    font-size: x-large;
    margin: 60px;
  }
  .links-management2{
    display: flex;
    flex-direction: column;
    font-size: x-large;
    margin: 60px;
  }
  #inventoryDisplay{
    background-color: rgb(206 206 206);
    margin-top: 20px;
  }
  #inventoryDisplay thead{
    background-color: black;
    color: white;
  }
  #inventoryDisplay tbody tr{
    background-color: white;
    text-decoration: none;
  }
  #inventoryDisplay tbody tr:nth-child(odd){
    background-color: rgb(206 206 206);
  }
  .info1{
    display: flex;
    flex-direction: column;
  }
  .info1 div{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 10px;
  }
  .info1 button{
    width: 500px;
  }
  .updateButton{
    width: 9%;
    margin-top: 10px;
  }
  #account_firstname{
    font-weight: 700;
    font-size: larger;
  }
  #the-lastname{
    font-weight: 700;
    font-size: larger;
  }
  #the-email1{
    font-weight: 700;
    font-size: larger;
  }
  .passwordform div{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 10px;
  }
  #reg-password{
    margin-bottom: 10px;
  }
  .changebutton{
    margin-top: 10px;
  }

}
@media (min-width: 1200px){
  .tagbox{
    left: 20%;
  }
}
@media (min-width:1187px){
  .tagbox{
    left: 15%;
  }
}
@media (max-width: 400px){
  .login-set-up button{
    width: 75%;
  }
  #secret-password{
    width: 75%;
  }
}