<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<div class="links-management">
    <a href="/inv/classification">Add New Classification</a>
</div>
<div class="links-management2">
    <a href="/inv/add-inventory">Add New Inventory</a>
</div>

<h2>Manage Inventory</h2>
<p>Select a classification to see the inventory below</p>

<%- drop %>

<table id="inventoryDisplay"></table>

<noscript>Javascript must be enabled to use this page. </noscript>

<script src="../../js/inventory.js"></script>